@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-black;
  }
}

@layer components {
  .btn {
    @apply flex w-auto items-center justify-center rounded-[4px];
  }

  .primary {
    @apply bg-white;
  }

  .secondary {
    @apply bg-black;
  }

  .primary_text_color {
    @apply text-white;
  }

  .secondary_text_color {
    @apply text-black;
  }

  .Add-to-chrome {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    --tw-bg-opacity: 1;
    background-color: #ab1818;
    color: white;
  }
  .Add-to-chrome:hover {
    background-color: #dd1919;
  }
  .accordion-button {
    background: #303030 !important;
  }
  .accordion-button::after {
    background-image: url('https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/344/ffffff/external-plus-essentials-tanah-basah-glyph-tanah-basah-2.png') !important;
    transform: rotate(0deg);
    filter: brightness(100%);
  }
}

.accordion-button:not(.collapsed)::after {
  background-image: url('https://img.icons8.com/material-rounded/344/minus.pnghttps://img.icons8.com/ios-glyphs/344/ffffff/minus.png') !important;
  transform: rotate(0deg);
  filter: brightness(100%);
}
